html {height:100%;}
body {margin:0;height:100%;padding:0;background:#8B8177;
	font-size:12px;color:#333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:24px;
	text-align:center;
	/*word-break:break-all;*/
	word-wrap:break-word;	
	}
div{margin:0;padding:0;height:auto;}
img {border:0;}
table {font-size:12px;}
input {font-family:Arial,Helvetica,sans-serif; font-size: 12px;}
p {margin:0;}
ul {margin:0px;padding:0px;width:100%;overflow:hidden;}
li {list-style:none;padding:0px;overflow:hidden;}

h1{font-weight:bold;margin:0px;padding:0;font-size:18px;color:#BC0101;font-family:"微软雅黑","黑体",Verdana, Arial, Helvetica, sans-serif;}
h2{font-weight:bold;margin:0px;padding:0;font-size:14px;color:#0071C7;}
h3{font-weight:bold;margin:0px;padding:0;font-size:14px;float:left;padding-left:15px;}
h4{font-weight:bold;margin:0px;padding:0;font-size:14px;color:#0071C7;}

/*---------Form Table------------------*/
form{ margin: 0; padding: 0;}
.inputbox {font-size:12px;height:16px;padding-top:2px;border:1px solid #808080;background:url(../images/inputbox_bg.gif) #FFFFFF top left no-repeat;}
.inputcontent {background-color: #ffffff; font-size:12px;padding:3px;border:1px solid #C0C0C0;}
.inputbox_fangwei{background-color:#ffffff; font-size:12px;height:16px;padding-top:3px;border:1px solid #C0C0C0;}
.submit_bg{padding:0;border:0;width:135px;height:35px;line-height:35px;color:#FFFFFF;font-weight:bold;font-size:14px;cursor:hand;background:url(../images/submit_bg.gif) top left no-repeat;}
.submit_search{padding:0;border:0;width:51px;height:22px;line-height:35px;color:#FFFFFF;font-weight:bold;font-size:14px;cursor:hand;background:url(../images/submit_search.gif) top left no-repeat;}
.submit_login{padding:0;border:0;cursor:hand;height:20px;width:44px;background:url(../images/submit_login.gif) top left no-repeat;}

#header,#slides_banner,#mainbutton,#mainlable,#heardbutton_hand,#contentinfo,#friendlink,#copyright{margin:0 auto;width:1000px;text-align:left;}
/*------------ Top  -----------------------*/
.header_bg{width:100%;background:#423B33;padding-bottom:10px;margin:0;}
#header{width:1000px;height:112px;position:relative;}
	#header #logo{float:left;width:370px;height:92px;padding:20px 0 0 30px; overflow:hidden;}
	#header #header_button{float:left;width:600px;height:85px;overflow:hidden;background:url(../images/png_bg.gif) no-repeat 0 0;}
	#header #header_button .jiaguanzhu{width:550px;height:25px;padding-top:16px;padding-right:50px;overflow:hidden; text-align:right;}
	#header #header_button ul{width:600px;height:40px;}

	.nav_li{float:left;display:inline;height:40px;line-height:40px;overflow:hidden;letter-spacing:1px;text-align:-moz-center!important;text-align:center;}
	.nav_li .nav_a1{display:block; display:none;}	
	#nav_sina{width:104px;padding-right:5px;background:url(../images/header_button_1_1.gif) top left no-repeat;}
	#nav_qq{width:104px;padding-right:19px;background:url(../images/header_button_2_1.gif) top left no-repeat;}

/*-主导航-*/
.mainbutton_bg{width:100%;background:#1F1A16;margin-bottom:10px;}
#mainbutton{width:863px;padding:0 65px;background:#1F1A16;height:92px;}
#mainbutton ul{width:863px;padding-top:29px;background:url(../images/png_bg.gif) no-repeat 0 -300px;}
#mainbutton li{float:left;height:40px;overflow:hidden;}
#mainbutton .bottomnavpic{display:block; display:none;}

#mainbutton #li_bottom_nav_0{width:88px;padding-right:10px;background:url(../images/bottom_nav.gif) no-repeat 0 0;}
#mainbutton #li_bottom_nav_1{width:88px;padding-right:13px;background:url(../images/bottom_nav.gif) no-repeat -101px 0;}
#mainbutton #li_bottom_nav_2{width:121px;padding-right:5px;background:url(../images/bottom_nav.gif) no-repeat -201px 0;}
#mainbutton #li_bottom_nav_3{width:121px;padding-right:14px;background:url(../images/bottom_nav.gif) no-repeat -327px 0;}
#mainbutton #li_bottom_nav_4{width:40px;padding-right:7px;background:url(../images/bottom_nav.gif) no-repeat -462px 0;}
#mainbutton #li_bottom_nav_5{width:40px;padding-right:28px;background:url(../images/bottom_nav.gif) no-repeat -509px 0;}
#mainbutton #li_bottom_nav_6{width:121px;padding-right:20px;background:url(../images/bottom_nav.gif) no-repeat -577px 0;}
#mainbutton #li_bottom_nav_7{width:143px;background:url(../images/bottom_nav.gif) no-repeat -718px 0;}

/*-轮换图片-*/
#slides_banner {width:1000px;height:350px;overflow:hidden;}	
#slides_banner #slides {position:absolute;width:1000px;height:350px;z-index:100;overflow:hidden;}
#slides_banner #slides .prev {position:absolute;top:150px;left:0;width:25px;height:50px;display:block;z-index:101;}
#slides_banner #slides .next {position:absolute;top:150px;left:975px;width:25px;height:50px;display:block;z-index:101;}
#slides_banner #slides .slides_container {width:950px;height:350px;left:25px;overflow:hidden;position:relative;}	
#slides_banner #slides .banner_img {width:950px;height:350px;}	
	
/*-分类标签-*/	
#mainlable{width:950px;padding:0 25px 0 25px;margin-bottom:10px;}
	#mainlable #newSubMenu {width:950px;background:url(../images/png_bg.gif) no-repeat 0 -100px;}
	#mainlable #newSubMenu ul{padding-left:180px;width:770px;}
	#mainlable #newSubMenu li{float:left;width:80px;text-align:center;cursor:hand;color:#38322D;font-size:12px;}
	#mainlable #newSubMenu .li_click{background:#564D44;color:#FFD439;}
	#mainlable .newSubMenuCon{width:920px;padding:15px;background:#564D44; overflow:hidden;}
	#mainlable .newSubMenuCon ul{width:920px;color:#A7A099;}
	#mainlable .newSubMenuCon li{float:left;padding-right:15px;}

	#mainlable  a:link {color:#A39B94;text-decoration:none;}
	#mainlable  a:visited {color:#A39B94;text-decoration:none;}
	#mainlable  a:hover {color: #FFD439;text-decoration:underline;}
	#mainlable  a:active {color:#A39B94;text-decoration:none;}

/*---------------------------------------------------------------------------------------------*/

#title ,#yourposition{width:100%;height:30px;line-height:30px;color:#181818;background:url(../images/png.gif) repeat-x 0 -150px;overflow:hidden;}
	#title h2{font-size:14px;float:left;line-height:30px;padding-left:10px;font-weight:bold;}
	#title .title{font-size:14px;float:left;padding-left:15px;font-weight:bold;}
	#title .more{ float:right;padding-right:10px;}

.clear {clear:both;font-size:0px;height:0;overflow:hidden;margin:0;}
.font_size14px{font-size:14px;}
.font_size16px{font-size:16px;}
/*---------------------------------------------------------------------------------------------*/
#contentinfo{width:950px;padding:0 25px 0 25px;margin-bottom:10px;overflow:hidden;}

#contentinfo #home_photobox{width:950px;}
#contentinfo #home_photobox ul{width:950px;}
#contentinfo #home_photobox .img-txt-fade{width:950px;padding:0;}
#contentinfo #home_photobox .img-txt-fade li{float:left;width:243px;height:248px;overflow:hidden;}
#contentinfo #home_photobox .img-txt-fade .li_boxright{width:220px;}
#contentinfo #home_photobox .img-txt-fade li .photobox{width:200px;height:150px;border:10px solid #E3E1D5;overflow:hidden;position:relative;}
#contentinfo #home_photobox .img-txt-fade li .photobox .imgBox{width:200px;height:150px;position:absolute;z-index:10;top:0;left:0}
#contentinfo #home_photobox .img-txt-fade li .photobox .txtBox{width:180px;height:130px;padding:10px;position:absolute;top:0;left:0;color:#605851;background:#E3E1D5;}
#contentinfo #home_photobox .img-txt-fade li .photobox p{padding:0 6px;}
#contentinfo #home_photobox .img-txt-fade li .lititle{width:220px;height:65px;z-index:1000;background:url(../images/photobox_ico.gif) top left no-repeat;}
#contentinfo #home_photobox .img-txt-fade li .lititle .lititle_number{width:190px;height:31px;padding-left:30px;line-height:30px;color:#7F756B;}
#contentinfo #home_photobox .img-txt-fade li .lititle .lititle_number .number_1{float:left;padding-left:100px;width:50px;}
#contentinfo #home_photobox .img-txt-fade li .lititle .lititle_number .number_2{float:left;width:30px;padding:0;}
#contentinfo #home_photobox .img-txt-fade li .lititle .lititle_name  {width:1850px;height:30px;padding-left:35px;line-height:35px;color:#E3E1D5;}

#contentinfo #home_photobox .img-txt-fade li .aff-txt{}
#contentinfo #home_photobox .li_img{width:200px;height:150px;}

#contentinfo #home_photobox_more{width:570px;height:53px;padding:20px 0 30px 380px;text-align:center;border-bottom:1px solid #7E756D;}
#contentinfo #home_photobox_more .nav_li{width:163px;height:53px;background:url(../images/photo_more.gif) top left no-repeat;}
#contentinfo #home_photobox_more .nav_a1{display:none;}


#contentinfo #home_infobox{float:left;width:306px;padding-right:15px;}
	#contentinfo #home_infobox #infotitle {width:306px;height:38px; overflow:hidden;}
	#contentinfo #home_infobox #infotitle .nav_li{float:left;width:120px;height:40px;padding:0;margin:0;overflow:hidden;}
	#contentinfo #home_infobox #infotitle .nav_a1{width:120px;height:40px;}
	#contentinfo #home_infobox #infotitle .navli_1{background:url(../images/home_title_1_1.gif) top left no-repeat;}
	#contentinfo #home_infobox #infotitle .navli_2{background:url(../images/home_title_2_1.gif) top left no-repeat;}
	#contentinfo #home_infobox #infotitle .navli_3{background:url(../images/home_title_3_1.gif) top left no-repeat;}
	
	#contentinfo #home_infobox #infotitle .title_2{float:right;width:150px;padding:12px 25px 0 0; text-align:right;overflow:hidden;background:url(../images/homeinfo_pix.gif) top right no-repeat;}




	#contentinfo #home_infobox #list{width:306px;background:#443D37;color:#CFCBC6;}
	#contentinfo #home_infobox ul{width:100%;padding:8px 0;}
	#contentinfo #home_infobox li{width:100%;padding-left:20px;background:url(../images/pix_1.gif) top left no-repeat;}
	#contentinfo #home_infobox a:link {color:#CFCBC6;text-decoration:none;}
	#contentinfo #home_infobox a:visited {color:#CFCBC6;text-decoration:none;}
	#contentinfo #home_infobox a:hover {color: #FFD63C;text-decoration:underline;}
	#contentinfo #home_infobox a:active {color:#CFCBC6;text-decoration:none;}




#contentinfo  #picture_introbox{width:1000px;padding-bottom:15px;}
#contentinfo  #picture_introbox .picture_baseintro{float:left;width:200px;}
#contentinfo  #picture_introbox .picture_lable{float:left;width:700px;}




#contentinfo  #sharecode{float:left;width:400px;padding:10px 0;}
#contentinfo  #vodesubmit{float:right;width:500px;line-height:50px;padding:10px 0;color:#FFD439;}
#contentinfo  #vodesubmit .bigstrong{font-size:50px;font-family:"微软雅黑","黑体",Verdana, Arial, Helvetica, sans-serif;}


/*------------------------------------home-------------------------------------------------------*/
#home_mainbox{float:left;width:730px;overflow:hidden;}
	#home_mainbox #textbox{width:730px;overflow:hidden;margin-bottom:10px;}

	#home_mainbox #picchang{float:left;width:730px;margin-bottom:10px;}
	
	#home_mainbox #home_textbox{float:left;width:358px;border:1px solid #D8D8D8;}
	#home_mainbox #home_textbox #title{width:358px;}
	#home_mainbox #home_textbox #list{width:350px;padding:4px;}
	
	#home_mainbox #home_picbox{width:728px;border:1px solid #D8D8D8;margin-bottom:10px;}
	#home_mainbox #home_picbox #title{width:728px;}
	#home_mainbox #home_picbox #list{width:720px;padding:4px;}

/*home menu */
#home_menubox{float:right;width:220px;}
	#home_menubox #textbox{width:220px;overflow:hidden;margin-bottom:10px;}
	
	#home_menubox #infobox{width:218px;border:1px solid #D8D8D8;margin-bottom:10px;}
	#home_menubox #infobox #title{width:218px;background:url(../images/png.gif) repeat-x 0 -150px;}
	#home_menubox #infobox #list{width:200px;padding:6px 9px;}
	#home_menubox #infobox #list ul{width:200px;padding:0;}
	#home_menubox #infobox #list li{width:200px;}
	#home_menubox #infobox #list .li_class{width:180px;font-size:14px;line-height:30px;padding-left:20px;background:url(../images/pix_1.gif) top left no-repeat;}
	#home_menubox #infobox #list .li_file{width:190px;padding-left:10px;background:url(../images/pix_1.gif) top left no-repeat;}

	#home_menubox #infobox #list_menucontact{width:180px;padding:9px 19px;}
	#home_menubox #infobox #list_menucontact ul{width:180px;}
	#home_menubox #infobox #list_menucontact li{width:180px;}
	#home_menubox #infobox #list_menucontact .li_qq{float:left;width:90px;}
	
	
/*------------------------------------show----------------------------------------------------*/
#contentinfo #showcontent_headtitle {width:680px;padding:0 160px 0 160px;}




#contentinfo #showcontent_head{width:900px;padding:0 50px 0 18px;}
#contentinfo #showcontent_dddd{width:900px;padding:0 50px 0 18px;}

#contentinfo #showcontent_box{width:900px;padding:0 50px 0 18px;}
#contentinfo #showcontent_box #infotitle{width:700px;padding:0 70px;margin:0 30px 0 30px;}
#contentinfo #showcontent_box #infotitle ul{width:700px;padding:0;margin:0;}
#contentinfo #showcontent_box #infotitle li{float:left;width:120px;height:40px;padding-right:140px;color:#FFD73D;line-height:22px;}
#contentinfo #showcontent_box #infotitle .li_title_1{background:url(../images/home_title_1_1.gif) top left no-repeat;}
#contentinfo #showcontent_box #infotitle .li_title_2{background:url(../images/home_title_2_1.gif) top left no-repeat;}
#contentinfo #showcontent_box #infotitle .li_title_3{background:url(../images/home_title_3_1.gif) top left no-repeat;padding:0;}
#contentinfo #showcontent_box #infotitle .nav_a1{ display:none;}


#contentinfo #showcontent_box #infotitle .title_english{font-size:10px;line-height:12px;font-family: Georgia, 'Times New Roman', Times, serif;}
#contentinfo #showcontent_box #infotitle .textbox{width:500px;color:#E7E3D3;padding:10px 0;}


#contentinfo #showcontent_box #infolistpage{width:840px;margin:0 30px 0 30px;background:#443D37;}
#contentinfo #showcontent_box #infolistpage #maininfopagetitleintro{padding-left:40px;width:800px;color:#BBA596;background:url(../images/pix_12.gif) top left no-repeat;}
#contentinfo #showcontent_box #infolistpage #maininfopagetitleintro #titlename{padding-left:20px;line-height:30px;}
#contentinfo #showcontent_box #infolistpage #maininfopagetitleintro .title_english{font-size:10px;line-height:12px;font-family: Georgia, 'Times New Roman', Times, serif;}


#contentinfo #showcontent_box #infolistpage ul{width:800px;padding:0 20px;}
#contentinfo #showcontent_box #infolistpage li{}
#contentinfo #showcontent_box #infolistpage .li_infofile{width:800px;color:#DAD9CE;padding:10px 0;border-top:1px solid #3B352F;}
#contentinfo #showcontent_box #infolistpage .li_intro{color:#BBA596;}
#contentinfo #showcontent_box #infolistpage .fileintro{line-height:20px !important;}
#contentinfo #showcontent_box #listpage_pageinformation{width:840px;margin:0 30px 0 30px;background:#443D37;}
#contentinfo #showcontent_box #listpage_pageinformation .ul_page{padding:0 20px;width:800px;}
#contentinfo #showcontent_box #listpage_pageinformation a.bpage:link {color:#E3E1D5;text-decoration:none;}
#contentinfo #showcontent_box #listpage_pageinformation a.bpage:visited {color:#E3E1D5;text-decoration:none;}
#contentinfo #showcontent_box #listpage_pageinformation a.bpage:hover {color: #FFD73D;text-decoration:underline;}
#contentinfo #showcontent_box #listpage_pageinformation a.bpage:active {color:#E3E1D5;text-decoration:none;}





#contentinfo #showcontent_box #infofile_showcontent{width:840px;margin:0 20px 0 20px;padding:10px;background:#443D37;color:#E3E1D5;}
#contentinfo #showcontent_box #infofile_showcontent h1{color:#E3E1D5;padding:20px;width:600px; text-align:center;}
#contentinfo #showcontent_box #infofile_showcontent #textbox{width:840px;padding:10px 0;}





/*------------------------------------单页显示---------------------------------------------------*/

#contentinfo #textfile_showcontent_box {width:680px;padding:0 160px 0 160px;}
#contentinfo #textfile_showcontent_box #infobox_textshow{width:680px; margin-bottom:10px;}
#contentinfo #textfile_showcontent_box #infobox_textshow #title_w{width:110px;height:32px;line-height:32px;padding-left:30px;color:#FFD83E;background:url(../images/pix_11.gif) #463F39 no-repeat}
#contentinfo #textfile_showcontent_box #infobox_textshow #textshow{width:660px;padding:10px;background:#443D37;color:#E4E3D8;}


/*------------------------------------报价显示---------------------------------------------------*/

#contentinfo #price_showcontent_menu {float:left;width:150px;padding-left:100px;}
#contentinfo #price_showcontent_menu li{width:120px;padding-left:30px;line-height:35px;background:url(../images/pix_11.gif) #463F39 no-repeat; margin-bottom:5px;}
#contentinfo #price_showcontent_menu .li_click{background:url(../images/pix_11.gif) #463F39  no-repeat;}
#contentinfo #price_showcontent_box {float:left;width:680px;background:#423B35;color:#E4E3D8;}
#contentinfo #price_showcontent_box .activebox{width:530px;height:50px;padding:0 15px 0 135px;color:#FFFFFF;overflow:hidden;background:url(../images/price_active_png.gif) #E11D6B top left no-repeat;}
#contentinfo #price_showcontent_box .contentshowbox{width:650px;padding:15px; background:#423B35;color:#E4E3D8;}


/*------------------------------------end----------------------------------------------------*/


/*--------翻页效果---------*/
#listpage_pageinformation .ul_page{height:33px;padding:0px !important;overflow:hidden;}
#listpage_pageinformation li{float:left;width:33px;height:33px;padding:0;border:0;margin:0;line-height:33px;color:#FFF000;}
#listpage_pageinformation .li_pre{width:55px;padding-left:21px;background:url(../images/png_page.gif) no-repeat 0 0;font-size:11px;}
#listpage_pageinformation .li_next{width:66px;padding-left:10px;background:url(../images/png_page.gif) no-repeat 0 -33px;font-size:11px;}
#listpage_pageinformation .li_pageclick{background:url(../images/png_page.gif) no-repeat 0 -66px;text-align:center;}
#listpage_pageinformation .li_pagenoclick{text-align:center;}


/*------------link-----------*/
#friendlink{width:958px;border:1px solid #D8D8D8;padding:0;overflow:hidden;margin-bottom:10px;}
#friendlink #title{width:958px;}
#friendlink #title #link{float:right;width:500px;text-align:right;padding-right:5px;color:#888888;}
#friendlink #title ul{float:left;width:300px;}
#friendlink #title li{float:left;width:80px;text-align:center;border-right:1px solid #D8D8D8;}
#friendlink #title .li_link1{background:#FFF;}
#friendlink #title .li_link2{background:none;}
#friendlink #list{width:950px;padding:6px 9px;line-height:18px;color:#888888;font-size:12px;}
#friendlink #list .friendlink_logo{float:left;width:90px;padding:2px;}
#friendlink #list .friendlink_img{width:88px;height:31px;}


#friendlink a:link {color:#888888;text-decoration:none;}
#friendlink a:visited {color:#888888;text-decoration:none;}
#friendlink a:hover {color: #FF0000;text-decoration:underline;}
#friendlink a:active {color:#888888;text-decoration:none;}

/*------------Copyright------------*/
#copyright_bg{width:100%;background:#1C1815;}

#copyright{width:1000px;overflow:hidden;}
#copyright #copyright_intro{width:560px;padding-left:440px;color:#78736E;padding-top:20px;background:url(../images/copyright_logo.gif) top left no-repeat;}
#copyright #copyright_friendlink{width:920px;padding:20px 40px;color:#78736E;}

#copyright a:link {color:#78736E;text-decoration:none;}
#copyright a:visited {color:#78736E;text-decoration:none;}
#copyright a:hover {color: #FFD73D;text-decoration:underline;}
#copyright a:active {color:#78736E;text-decoration:none;}


#copyright_bottom{width:100%;height:90px;background:#423B35;position:relative;}
#copyright_bottom #bottombox{width:200px;height:32px;position:absolute;top:-20px;left:700px;z-index:1000;}
#copyright_bottom #bottombuttonlist{float:left;width:605px;padding-left:395px;height:90px;background:url(../images/copyright_bottom_logo.gif) top left no-repeat;z-index:990;}

#copyright_bottom #bottombuttonlist ul{width:605px;padding-top:29px;}
#copyright_bottom #bottombuttonlist li{float:left;height:40px;overflow:hidden;}
#copyright_bottom #bottombuttonlist .bottomnavpic{display:block; display:none;}

#copyright_bottom #bottombuttonlist #li_bottom_nav_1{width:88px;padding-right:13px;background:url(../images/bottom_nav.gif) no-repeat 0 0;}
#copyright_bottom #bottombuttonlist #li_bottom_nav_2{width:121px;padding-right:5px;background:url(../images/bottom_nav.gif) no-repeat -101px 0;}
#copyright_bottom #bottombuttonlist #li_bottom_nav_3{width:121px;padding-right:14px;background:url(../images/bottom_nav.gif) no-repeat -227px 0;}
#copyright_bottom #bottombuttonlist #li_bottom_nav_4{width:40px;padding-right:7px;background:url(../images/bottom_nav.gif) no-repeat -362px 0;}
#copyright_bottom #bottombuttonlist #li_bottom_nav_5{width:40px;padding-right:28px;background:url(../images/bottom_nav.gif) no-repeat -409px 0;}
#copyright_bottom #bottombuttonlist #li_bottom_nav_6{width:121px;background:url(../images/bottom_nav.gif) no-repeat -477px 0;}









/*---------- links --------------*/
.price{color:#FF3300;}
.a_underline{text-decoration:underline;}

a:link {color:#333333;text-decoration:none;}
a:visited {color:#333333;text-decoration:none;}
a:hover {color: #CC0000;text-decoration:underline;}
a:active {color:#333333;text-decoration:none;}

.vode_red {color:#E60000;}
a.vode_red:link {color:#E60000;text-decoration:none;}
a.vode_red:visited {color:#E60000;text-decoration:none;}
a.vode_red:hover {color: #cc0000;text-decoration:underline;}
a.vode_red:active {color:#E60000;text-decoration:none;}

.vode_yellow {color:#FFD73D;}
a.vode_yellow:link {color:#FFD73D;text-decoration:none;}
a.vode_yellow:visited {color:#FFD73D;text-decoration:none;}
a.vode_yellow:hover {color: #E5E3D8;text-decoration:underline;}
a.vode_yellow:active {color:#FFD73D;text-decoration:none;}


.more{}


.vode_green {color:#145A4F;}
a.vode_green:link {color:#145A4F;text-decoration:none;}
a.vode_green:visited {color:#145A4F;text-decoration:none;}
a.vode_green:hover {color: #FF3300;text-decoration:underline;}
a.vode_green:active {color:#145A4F;text-decoration:none;}


.vode_blue{color:#1F5EA5;}
a.vode_blue:link {color:#1F5EA5;text-decoration:none;}
a.vode_blue:visited {color:#1F5EA5;text-decoration:none;}
a.vode_blue:hover {color: #cc0000;text-decoration:underline;}
a.vode_blue:active {color:#1F5EA5;text-decoration:none;}

.vode_link{color:#1F5EA5;}
a.vode_link:link {color:#1F5EA5;text-decoration:none;}
a.vode_link:visited {color:#1F5EA5;text-decoration:none;}
a.vode_link:hover {color: #cc0000;text-decoration:underline;}
a.vode_link:active {color:#1F5EA5;text-decoration:none;}


.vode_white{color:#E3E1D5;}
a.vode_white:link {color:#E3E1D5;text-decoration:none;}
a.vode_white:visited {color:#E3E1D5;text-decoration:none;}
a.vode_white:hover {color: #FFD73D;text-decoration:underline;}
a.vode_white:active {color:#E3E1D5;text-decoration:none;}

.vode_linkintro{color:#BBA596;}
a.vode_linkintro:link {color:#BBA596;text-decoration:none;}
a.vode_linkintro:visited {color:#BBA596;text-decoration:none;}
a.vode_linkintro:hover {color: #FFD73D;text-decoration:underline;}
a.vode_linkintro:active {color:#BBA596;text-decoration:none;}

.vode_linkinfotitle{color:#E3E1D5;font-size:14px;}
a.vode_linkinfotitle:link {color:#E3E1D5;text-decoration:none;}
a.vode_linkinfotitle:visited {color:#E3E1D5;text-decoration:none;}
a.vode_linkinfotitle:hover {color: #FFD73D;text-decoration:underline;}
a.vode_linkinfotitle:active {color:#E3E1D5;text-decoration:none;}



.backToTop{
	display:none;
	width:30px;
	background-color:#000;
	color:#fff;
	font-size:12px;
	text-align:center;
	position:fixed;
	_position:absolute;
	right:10px;
	bottom:100px;
	_bottom:"auto";
	cursor:pointer;
}

